body{
    background: linear-gradient(to bottom, pink 20%, plum);
    height: 100vh;
    margin: 0;
}

main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    margin: auto;
}

header{
    background-color: pink;
}

footer{
    background-color: plum;
}

footer p{
    color: blueviolet;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

section{
    flex: 1;
    width: 20%;
    min-width: 200px;
    align-items: center;
    padding: 5%;
    margin: 10px;
    box-shadow: 0 0 5px;
    background-color: antiquewhite;
}

#imagem{
    flex: 1;
    width: 20%;
    min-width: 200px;
    align-items: center;
    padding: 5%;
    margin: 10px;
    box-shadow: 0 0 5px;
}


h1{
    text-align: center;
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
}

h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 15px;
    margin: 5px;
}

p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
}

p a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

p a:hover{
    color: blueviolet;
}

section p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 5px;
    margin: 10px;
}

img{
    width: 240px;
    height: 320px;
    object-fit: cover;
    border-radius: 10px 50px;
}